<div class="flex bg-darkblue-500 p-2 mb-5">
  <div class="w-logo">
    <%= image_tag image %>
  </div>
  <div class="w-full mx-5 my-2">
    <div class="font-extrabold text-lg">
      <h4><%= name %></h4>
    </div>
  </div>
</div>